@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Boldonse&family=Cinzel:wght@400..900&family=Lemon&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Russo+One&display=swap');


body{
color:#1014dd ;
background-color:#faf4f4 ;
margin: 0px;
margin-bottom: 100px;
}

header{
    border-bottom: solid 2px #1014dd ;
    margin: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

section{
     
padding-bottom: 80px;
padding-top: 80px;
background: #1014dd;
display: flex;
justify-content: center;
}

h1{
color:color:blue ;
 ;
font-size: 40px;
}

p{
    font-size: 20px;
}

.categoria{

padding-left: 20px;
padding-right: 20px;

}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

img{

    height: 200px;
}

.categoria-videos img{
utu.be encerrou a conexão inesperadamente.
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover{

opacity:1.0;utu.be encerrou a conexão inesperadamente.
border: 3px solid #1014dd;

}

.categoria h2{
color: #1014dd;

}

.chamada-texto{
    margin-right: 1%;
    text-align: center;
    padding: 20px;
    background-color: #0c0c0c;
    color: #1014dd;
}